@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .wireframe-cross {
        background-image: url('wireframe-placeholder.svg'); /* Need to make sure this path is right */
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
}
